.login-label {
    text-align: center;
    background: linear-gradient(90deg, rgb(41, 71, 24) 100%, rgb(15, 20, 12) 90%);
    padding-top: 60px;
    font-size: 15px;
    color: #FFFFFF;
    border: 1px solid #e1e4df;
    margin-left: 100px;
}

.login-page {
    background: #000000;
    /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(90deg, rgb(41, 71, 24) 100%, rgb(15, 20, 12) 90%);

    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
    width: 100%;
    height: 82.10vh;
    padding-top: 10%;
    /* display: block; */
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */

}

.form {
    position: fixed;
    /* z-index: 1; */
    background: #FFFFFF;
    max-width: 360px;
    margin-left: 75vh;
    /* margin: 0 auto 100px; */
    /* display: block; */
    /* align-items: center; */
    /* justify-items: center; */
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(107, 106, 106);
}


.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: linear-gradient(90deg, rgb(41, 71, 24) 100%, rgb(15, 20, 12) 90%);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}